@charset "UTF-8";

/*
paleta de cores

#5729F0
#F08C35
#1C5AF0
#F0D905
#11C9F0

*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
}

body {
    background-image: linear-gradient(to right, #1c54f0, #11c9f0);
}

main {
    background-color: white;
    margin: auto;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2em;
    color: #F08C35;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.295);
}

h2 {
    font-size: 1.5em;
    color: #F0D905;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.295);
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}

div {
    text-align: center;
}

audio {
    background-color: #f1b966c5;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466);
    border-radius: 50px;
}

hr {
    text-decoration: none;
}

img {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466);
    border-radius: 10px;
}

picture { 
    text-align: center;
}

iframe {
    background-color: #f1b966c5;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466);
}